doctype html
html
	head
		title Monitorbot Login

		style
			include home.css
	body
		h2 Monitoring Login
		br
		a(href='/logout') Logout
		br
		br
		h4 To begin, input the Steam account information below and hit 'submit'
		br
		form(action='/runbot',method='post')
			input(type='hidden', name='authName', value='#{user.nickname}')
			label(for='email') Username
			input(id='email',type='text',value='',placeholder='',name='email')
			br
			label(for='password') Password
			input(id='password',type='password',value='',placeholder='',name='password')
			br
			br
			input(type='submit',value='Submit', data-theme='c')