doctype html
html
	head
		title Steam Monitoring Headquarters

		style
			include home.css
	body
		h2 #{user.nickname}'s Steam Monitoring Headquarters
		br
		a(href='/logout') Logout
		br
		br
		h4 Welcome to the Steam Monitorbot!
		br
		br
		a(href='/monitor') Begin Monitoring an Account
		br
		br
		a(href='/download') Download Logs