doctype html
html
	head
		title Monitorbot Login

		style
			include home.css
	body
		h2 Welcome #{user.nickname}!
		br
		a(href='/logout') Logout
		br
		form(action='/log', method='post')
			input(type='hidden',name='authName',value='#{user.nickname}')
			input(type='submit', value='Download Log')
		br
		form(action='/runbot',method='post')
			input(type='hidden', name='authName', value='#{user.nickname}')
			label(for='email') username
			input(id='email',type='text',value='',placeholder='',name='email')
			br
			label(for='password') password
			input(id='password',type='password',value='',placeholder='',name='password')
			br
			label(for='hidden_password') auth code
			input(id='hidden_password',type='text',value='',placeholder='',name='password2')
			br
			input(type='submit',value='Attempt Login', data-theme='c')